* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: "Montserrat" sans-serif;
  overflow-x: hidden;
}

#logo {
  color: white;
  font-family: "Abril Fatface";
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
  position: relative;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #17181a;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rain-span {
  color: coral;
}
.camping-span {
  color: cornflowerblue;
}
.sunset-span {
  color: salmon;
}

.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 5rem;
}

.hero-desc p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: rgba(223, 223, 223);
}

.explore {
  padding: 1rem 2rem;
  border: none;
  background: none;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 1rem;
  align-self: flex-start;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}

.nav-links h3 {
  padding: 3rem 0rem;
}

.contacts {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: #17181a;
  left: 0;
  top: -15%;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor.nav-active {
  background: cornflowerblue;
  transform: scale(2);
}
.scrollmagic-pin-spacer {
  position: static !important;
}
.title {
  position: relative;
  overflow: hidden;
}
.title-swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background: coral;
}
.t-swipe2 {
  background: cornflowerblue;
}
.t-swipe3 {
  background: salmon;
}

body.hide {
  overflow: hidden;
}
